{% extends "base.html" %}
{% load static %}

{% block styles %}
{% comment %} <link rel="stylesheet" href="{% static 'css/man_teach.css' %}" /> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/man_class.css' %}" />
{% endblock styles %}

{% block nav_content %}

<br><br><br><br><br>

    <a href="teachers"><i class="fas fa-chalkboard-teacher"></i><span>Manage Teachers</span></a>
    <a href="class"><i class="fas fa-user-graduate"></i><span>Manage Class</span></a>

    <br><br><br><br><br>
    <a href="logout" onclick="confirmLogOut()" class="down"><i class="fas fa-bullhorn"></i><span>Log Out</span></a>

{% endblock nav_content %}


{% block maincontent  %}
    <center>
      <h2>Class</h2>
    </center>

    {% if data %} 
    {% for member in data %}
    <form action="{% url 'manage' %}" method="post" id="form_{{member.id}}">
        {% csrf_token %}
        <div class="box" id="{{member.id}}">
        <h3> {{member.Year}}&nbsp{{member.Department}}</h3>
      
        <input type="hidden"
        name="classid"
        value="{{member.ClassId}}"
        />
        </div>
    </form>

    {% endfor %} {% else %}
    <div class="box" >
      <h2>No classess</h2>
      <p>Add Classes</p>
    </div>
    {% endif %}

   
    <div class="popup hide" id="popup">
        <!-- Close button (X) -->
        <button type="button" id="closeButton" class="cls" onclick="closeForm()">x</button>
        
        <form method="post" action="{% url 'class'%}">
            {% csrf_token %}
            <h4>Add Class</h4>
            <div class="input-group">
                <label for="department">Department:</label>
                <input type="text"name="department" required>
            </div>
            
            <div class="input-group">
                <label for="year">Year:</label>
                <br>
                <select type="number" id="year" name="year">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
            </div>
    
            <button type="submit" class="saveclass" name="saveclass">Save</button>
        </form>
    </div>
    <button id="set_float" class="set_float" >+</button>

{% endblock maincontent  %}

{% block script %}
    <script>
      document.querySelectorAll('.box').forEach(function(box) {
        box.addEventListener('click', function() {
          // Extract the ID of the box
          var boxId = box.id;
          // Construct the form ID
          var formId = 'form_' + boxId;
          // Find the form element by its ID
          var form = document.getElementById(formId);
          // Submit the form
          form.submit();
        });
      });
    </script>
    <script src="{% static 'script/man_class.js' %}"></script>
{% endblock script %}
    