{% extends "base.html" %}
{% load static %}
{% block meta %}
  <meta name="csrf-token" content="{{ csrf_token }}" />
{% endblock %}


{% block nav_content %}

<br><br><br><br><br>

    <a href="#" onclick="submitForm('studentsForm')"><i class="fas fa-user-graduate"></i><span>Students</span></a>
    <a href="#" onclick="submitForm('subjectsForm')"><i class="fas fa-chalkboard-teacher"></i><span>Subjects</span></a>
    <a href="#" onclick="submitForm('timetableForm')"><i class="fas fa-calendar-alt"></i><span>Timetable</span></a>
    <a href="#" onclick="submitForm('card4Form')"><i class="fas fa-folder"></i><span>Attendance</span></a>


    <br><br><br><br><br>
    <a href="/manage"><i class="fas fa-desktop"></i><span>Home</span></a>
    <a href="logout" onclick="confirmLogOut()" class="down"><i class="fas fa-bullhorn"></i><span>Log Out</span></a>



    <form id="studentsForm" action="{% url 'students' %}" method="get" style="display: none;">
        <h2 style="color: #FF5733;">Manage Students</h2>
        <input type="hidden" name="classid" value="{{ classid }}">
    </form>
    <form id="subjectsForm" action="{% url 'subjects' %}" method="post" style="display: none;">
        {% csrf_token %}
        <h2 style="color: #33B5FF;">Manage Subjects</h2>
        <input type="hidden" name="classid" value="{{ classid }}">
    </form>
    <form id="timetableForm" action="{% url 'timetable' %}" method="post" style="display: none;">
        {% csrf_token %}
        <h2 style="color: #33FF57;">Manage Timetable</h2>
        <input type="hidden" name="classid" value="{{ classid }}">
    </form>
    <form id="card4Form" action="{% url 'viewattendence' %}" method="post" style="display: none;">
        {% csrf_token %}
        <h2 style="color: #FF33A8;">Card Title 4</h2>
        <input type="hidden" name="classid" value="{{ classid }}">
    </form>

    
    <script>
        function submitForm(formId) {
            document.getElementById(formId).submit();
        }
    </script>


{% endblock nav_content %}


{% block styles %}
<style>
    .export__file .export__file-btn {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background: #fff6 url({% static 'images/export.png' %}) center / 80% no-repeat;
        border-radius: 50%;
        transition: .2s ease-in-out;
    }
    
</style>
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock styles %}

{% block maincontent %}
<center>
<main class="table" id="customers_table">
    <section class="table__header">
        <h1>Students Details {{classid}}</h1>
        <div class="input-group">
            <input type="search" placeholder="Search Data...">
            <img src="{% static "images/search.png" %}" alt="">
        </div>

        
        <input type="file" id="importExcel" accept=".xlsx, .xls" style="display: none" >
        <div>
        
        <div class="export__file invert" id="importData">
            <label class="export__file-btn" title="Import File"></label>
        </div>

        <div class="export__file">
            <label for="import-file" class="export__file-btn" title="Export File"></label>
            <input type="checkbox" id="import-file">
            <div class="export__file-options">
                <label for="importExcel" class="import-file">Export Excel</label>
                <label for="export-file" id="toEXCEL">EXCEL <img src="{% static 'images/excel.png' %}" alt=""></label>
                {% comment %} <label for="export-file" id="toPDF">PDF <img src="{% static 'images/pdf.png' %}" alt=""></label> {% endcomment %}
            </div>
        </div>

       

        </div>
    </section>
    {% if data %}
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th>Sl No <span class="icon-arrow">&UpArrow;</span></th>
                    <th>Name<span class="icon-arrow">&UpArrow;</span></th>
                    <th>Reg No <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Roll No <span class="icon-arrow">&UpArrow;</span></th>
                    <!-- <th> Location <span class="icon-arrow">&UpArrow;</span></th> -->
                    <th>Phone No<span class="icon-arrow">&UpArrow;</span></th>
                    {% comment %} <th> Pay <span class="icon-arrow">&UpArrow;</span></th> {% endcomment %}
                </tr>
            </thead>
            <tbody>
                {% for member in data %}
                <form action="{% url 'studentdetails' %}" method="post" id="form_{{member.id}}">
                    {% csrf_token %}
                <tr class="box" id="{{member.id}}">
                    <td> {{forloop.counter}} </td>
                    <td> {{member.Name}} </td>
                    <td> {{member.Regno}}</td>
                    <td> {{member.Rollno}} </td>
                    <td> {{member.Phoneno}} </td>

                    <input type="hidden" id="idhidden_{{member.id}}" value="{{member.id}}" name="docid">
                    <input type="hidden" id="idhidden_{{member.id}}" value="{{classid}}" name="classid">
                    <input type="hidden" id="regnohidden_{{member.id}}" value="{{member.Regno}}" name="Regno">
                    <input type="hidden" id="rollnohidden_{{member.id}}" value="{{member.Rollno}}" name="Rollno">
                    <input type="hidden" id="namehidden_{{member.id}}" value="{{member.Name}}" name="Name">
                    <input type="hidden" id="phoneNumberHidden_{{member.id}}" value="{{member.Phoneno}}" name="Phoneno">
                </tr>
            </form>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="5">
                    <div class="nodata">
                        <h2>No Students</h2>
                        <p>Add Students</p>
                    </div>
                </td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </section>
</main>
</center>
<form action="{% url 'students' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="classid" value="{{classid}}">
    <button type="submit" class="add-button" id="plusBtn">+</button>
</form>
{% comment %} <form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="classid" value="{{classid}}">
    <button type="submit" class="del-button" id="delbtn"><i class="fas fa-trash-alt"></i></button>
</form> {% endcomment %}
{% endblock maincontent %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
<script src="{% static 'script/table.js' %}"></script>

<script>
function getCSRFToken() {
    return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
}

const customers_table = document.querySelector('#customers_table');




document.getElementById('importData').addEventListener('click',function(){
    console.log("click huaa")
    document.getElementById('importExcel').click();
})

document.getElementById('importExcel').addEventListener('change', function() {
    const file = this.files[0];
    if (file) {
        const reader = new FileReader();
        reader.onload = function(event) {
            const data = new Uint8Array(event.target.result);
            const workbook = XLSX.read(data, { type: 'array' });
            const firstSheet = workbook.Sheets[workbook.SheetNames[0]];
            const jsonData = XLSX.utils.sheet_to_json(firstSheet, { header: 1 });
            importStudents(jsonData);
        };
        reader.readAsArrayBuffer(file);
    } else {
        alert('Please select an Excel file to import.');
    }
});

function importStudents(data) {
    const students = data.slice(1).map(row => ({
        Slno: row[0],
        Name: row[1],
        Regno: row[2],
        Rollno: row[3],
        Phoneno: row[4],
        ClassId:"{{classid}}"
    }));

    console.log(students);

    const csrftoken = getCSRFToken();
    const formData = { students: students };

    const xhr = new XMLHttpRequest();
    xhr.open('POST', '{% url "saveImportedStudent" %}', true);
    xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
    xhr.setRequestHeader('X-CSRFToken', csrftoken);

    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                alert('Students imported successfully.');
                location.reload(); // Reload the page to see the imported data
            } else {
                try {
                    const response = JSON.parse(xhr.responseText);
                    alert(response.message);
                } catch (e) {
                    alert('Failed to import students ');
                }
            }
        }
    };

    xhr.send(JSON.stringify(formData));



}

document.querySelectorAll('.box').forEach(function(box) {
    box.addEventListener('click', function() {
        var boxId = box.id;
        var formId = 'form_' + boxId;
        var form = document.getElementById(formId);
        form.submit();
    });
});
</script>

{% endblock script %}
